@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');




#search3 {
    color: black;
    background-color: green;
    font-size: large;
    outline: none;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 30px;
}

section {
    display: flex;
    width: 100%;
    overflow-x: auto;
}


#input2 {
    width: 700px;
    font-size: large;
    border: 1px solid;
    font-weight: 400;
    color: black;
    border-radius: 6px;
    line-height: 1.5;
}

section img {
    width: 300px;
}

img:hover {
    margin-left: 0 40;
    transform: scale(1.2);
    cursor: pointer
}

body {
    background-image: url(movie2.jpg);
    height: 100%;
    width: 100%;
}

#head1 {
    color: green;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-fill-color: red;

}

footer {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}